* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-color: #1B1B1D;
    color: #ffffff;
    padding: 30px 10%;
    align-items: center;
}

/*Header Styles*/
.logo {
    font-family: nobel, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 4rem;
    cursor: pointer;
}

.logo a{
    text-decoration: none;
}

.logo a:visited {
    color: #ffffff;
}

.tagline {
    font-family: azo-sans-web, sans-serif;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 2rem;
    padding-bottom: 5%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    visibility: hidden;
}

.nav-links {
    list-style: none;
    font-size: 1em;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

/*Footer Styles*/
footer {
    text-align: center;
}

footer p {
    font-family: nobel, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 2rem;
    cursor: pointer;
    padding-bottom: 1%;
}

footer a{
    text-decoration: none;
}

footer a:visited {
    color: #ffffff;
}


/*Global Styles*/
hr {
    border: none;
    border-top: 3px solid #fff;
    color: #fff;
    overflow: visible;
    text-align: center;
    height: 50px;
}

p, small, li{
    font-family: azo-sans-web, sans-serif;
    font-weight: 300;
    font-size: 1em;
 }

 button {
    padding: 9px 25px;
    background-color: #1B1B1D;
    border: #ffffff;
    border-style: solid;
    border-width: 3px;
    color: #ffffff;
    font-family: azo-sans-web, sans-serif;
    font-size: 1em;
    cursor: pointer;
 }

 h2 {
    font-family: azo-sans-web, sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
 }

 h3 {
    font-family: azo-sans-web, sans-serif;
    font-weight: 300;
    font-size: 2rem;
 }

 .book-now-btn {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
}

.book-now-btn a {
    text-decoration: none;
}

.book-now-btn a:visited {
    color: #ffffff;
}

.book-now-btn button:hover {
    background-color: #fff;
}

.book-now-btn p:hover{
    color: #1B1B1D;
}


/*Home Page Styles*/
.home-sections {
    display: flex;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}

.design-p {
    text-align: center;
}

.home-remodels {
    flex: 1;
}

.home-additions {
    flex: 1;
}

.design-h2 {
    text-align: center;
    padding: 15px;
}

.home-sections h3 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}

.learn-more-btn {
    text-align: center;
    padding-top: 50px;
}

.learn-more-btn a {
    text-decoration: none;
}

.learn-more-btn a:visited {
    color: #ffffff;
}

.learn-more-btn button:hover {
    background-color: #fff;
}

.learn-more-btn p:hover{
    color: #1B1B1D;
}


/*Additions Page Styles*/
.additions-section {
    display: flex;
    text-align: center;
}

.additions-pic {
    flex: 1;
}

.additions-text {
    flex: 1;
    padding-left: 75px;
    padding-bottom: 75px;
}

.additions-list-section {
    padding: 20px;
}

.addtions-h3 {
    padding-top: 25px;
}

/*Remodels Page Styles*/
.remodels-section {
    display: flex;
    text-align: center;
}

.remodels-pic {
    flex: 1;
}

.remodels-text {
    flex: 1;
    padding-left: 75px;
    padding-bottom: 75px;
}

.book-now-btn {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
}

.remodels-list-section {
    padding: 20px;
}

.remodels-h3 {
    padding-top: 25px;
}